:root {
  --bg: #edf2f4;
  --font: #1a0c26;
  --var1: #731dd8;
  --var2: #20a4f3;

  --fontBe: "Bebas Neue", sans-serif;
  --fontMo: "Montserrat", sans-serif;
  --fontPo: "Poppins", sans-serif;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
}

/* Navbar */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Bebas Neue", sans-serif;
  padding: 20px 40px;
}

.icon {
  margin-left: 10px;
}

.icon a {
  text-decoration: none;
  font-size: 34px;
  color: var(--var1);
  text-shadow: 0 0 0.5px var(--font);
  pointer-events: none;
}

.link {
  margin-right: 10px;
  font-family: "Bebas Neue", sans-serif;
}

.link a {
  color: #000;
  font-size: 25px;
  transition: 0.2s;
}
.link a.active {
  background: linear-gradient(90deg, var(--var1), var(--var2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link a:hover {
  color: var(--var1);
}

.link .contact {
  color: var(--bg);
  background-color: var(--var1);
  border-radius: 50px;
  box-shadow: 0 5px #1a0c26;
  transition: ease-in-out 0.2s;
  border: solid var(--font) 2px;
}

.link .contact:hover {
  color: var(--var1);
  background-color: var(--bg);
  border: solid var(--var1) 2px;
}

/* Home */
.home {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/[Hero]\ Space\ Background.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 70px;
}

.home .content {
  text-align: center;
}

.home .content h2 {
  font-size: 60px;
  color: #fff;
  text-shadow: 0px 4px 4px #000;
  font-family: "Montserrat", sans-serif;
  line-height: 55px;
}

.home .content h3 {
  margin-top: 15px;
  font-style: italic;
  font-size: 30px;
}

/* Konten */
.konten {
  padding: 80px 50px;
  background-image: url(assets/[Penjelasan\ &\ Tujuan]\ Bintang.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #180231;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.konten .container {
  margin-top: 30px;
}

.konten .container .primary {
  background-color: #2c0e4e;
  color: #7700ff;
  margin: 8px;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-shadow: 0 2px #000;
}

.konten .container .primary.active {
  color: var(--var2);
  background-color: var(--var1);
  animation: glow ease-in-out 2s infinite;
  box-shadow: 0 0 0px var(--var2);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--var1);
  }
  50% {
    box-shadow: 0 0 20px var(--var1);
  }
  100% {
    box-shadow: 0 0 5px var(--var1);
  }
}

.center {
  display: flex;
  justify-content: center;
}

/* PENDAHULUAN */
.sesi__pendahuluan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem max(8rem, 4vw);
  height: 100vh;
  width: 100%;
  background-image: url(assets/[Pendahuluan\ &\ Identifikasi]\ Background.svg);
  background-position: center;
  background-size: 120vw;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sesi__pendahuluan *[id$="-title"] {
  position: relative;
  font-family: var(--fontMo);
  font-weight: bolder;
  margin-block: 2rem;
}

#pendahuluan-title::before {
  content: url(assets/[Pendahuluan\ &\ Identifikasi]\ Tanda\ Panah.svg);
  position: absolute;
  scale: 0.7;
  top: -10px;
  left: -10rem;
}

#identifikasi-title {
  text-align: end;
}

#identifikasi-title::after {
  content: url(assets/[Pendahuluan\ &\ Identifikasi]\ Tanda\ Panah.svg);
  position: absolute;
  scale: 0.7;
  top: -5px;
  right: -10rem;
}

.sesi__pendahuluan *[class$="-content"] {
  font-size: 1.4rem;
  font-family: var(--fontPo);
  font-weight: bolder;
}

.identifikasi-content {
  text-align: end;
}

/* SESI ANALISIS */
.sesi__analisis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem max(8rem, 4vw);
  height: 100vh;
  width: 100%;
  background-image: url(assets/[Analisis\ &\ Bahasa\ penulisan]\ Background.svg);
  background-position: center;
  background-size: 120vw;
  background-repeat: no-repeat;
  background-color: var(--font);
  color: var(--bg);
  overflow: hidden;
  row-gap: 2rem;
}

.sesi__analisis *[id$="-title"] {
  position: relative;
  color: var(--var2);
  font-family: var(--fontMo);
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

#analisis-title::before {
  content: url(assets/[Analisis\ &\ Bahasa\ penulisan]\ Tanda\ Panah.svg);
  position: absolute;
  scale: 0.7;
  top: -10px;
  left: -10rem;
}

#bahasa-title::before {
  content: url(assets/[Analisis\ &\ Bahasa\ penulisan]\ Tanda\ Panah.svg);
  position: absolute;
  scale: 0.7;
  top: -10px;
  right: -10rem;
}

.sesi__analisis *[class$="-content"] {
  font-size: 1.1rem;
  font-family: var(--fontPo);
  font-weight: bolder;
}

.bahasa-gaya_penulisan {
  text-align: end;
}


/* SESI PROFIL */
.sesi__profil {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem max(8rem, 4vw);
	height: 100vh;
	background-color: var(--font);
	color: var(--bg);
	/* overflow-x: hidden; */
}

#profil-title {
  font-family: var(--fontMo);
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.card-wrapper {
  mask: linear-gradient(
    90deg,
    transparent,
    white 2%,
    white 80%,
    transparent
    );

  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );

  position: relative;
  display: flex;
  height: 25rem;
  overflow: hidden;
}

.card-wrapper .inner-scroller {
  position: relative;
  display: flex;
  align-items: center;
  animation: slideLeft 40s linear infinite;
  width: fit-content;
}

.card-wrapper .inner-scroller:has(.cards:hover) {
  animation-play-state: paused;
}

.card-wrapper .cards {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  height: 23rem;

  padding: 1rem;
  margin-right: 2rem;
  background-color: var(--bg);
  color: black;
  transition: 250ms;
}

.card-wrapper .cards:hover {
  transform: scale(1.1);
}

.card-wrapper .cards .img {
  width: 100%;
  height: 70%;
  background-color: aqua;
  margin-bottom: 1rem;
}

.card-wrapper .cards-title {
  font-size: 1.5rem;
  font-family: var(--fontMo);
  font-weight: bolder;
}

.card-wrapper .cards-title a {
  /* text-decoration: none; */
  color: inherit;
  font-size: 1rem;
  font-style: italic;
}

.card-wrapper .person-information {
  margin: 0;
  font-size: 1rem;
  font-family: var(--fontPo);
  font-weight: 600;
  margin-left: 3px;
}

.card-wrapper .card-1 .img {
  background-image: url(assets/img/person1.jpg);
  background-size: cover;
  background-position: center;
}
.card-wrapper .card-2 .img {
  background-image: url(assets/img/person2.jpg);
  background-size: cover;
  background-position: center;
}
.card-wrapper .card-3 .img {
  background-image: url(assets/img/person3.jpg);
  background-size: cover;
  background-position: center;
}
.card-wrapper .card-4 .img {
  background-image: url(assets/img/person4.jpg);
  background-size: cover;
  background-position: center;
}
.card-wrapper .card-5 .img {
  background-image: url(assets/img/person5.jpg);
  background-size: cover;
  background-position: center;
}
.card-wrapper .card-6 .img {
  background-image: url(assets/img/person6.jpg);
  background-size: cover;
  background-position: center;
}

@keyframes slideLeft {
  to {
    transform: translateX(-50%);
  }
}